span.title {
    display: inline-block;
    font-size: 16px !important;
    font-weight: bold;
    color: black !important;
    padding: 0px 4px 0px 0px;
    margin: 0px 0px 0px 0px;
}

span.subtitle {
    display: inline-block;
    font-size: 12px !important;
    color: black !important;
    padding: 0px 0px 0px 0px;
}

span.icon {
    border-radius: 8px;
    margin-left: 2px;
    padding: 0px 2px;
    white-space: nowrap;
}

span.attention {
    color: #000000;
    background: rgba(255, 255, 255, 0.6);
}

span.visited {
    color: #000000;
    background: rgba(255, 255, 255, 0.3);
}

span.normal {
    color: #000000;
    background: rgba(255, 255, 255, 0.3);
}

img.thumbnail {
    margin: 4px auto 14px auto !important;
    border: 4px solid #ffffff;
    display: block;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 60%);
    cursor: zoom-in;
    width: 50%;
    height: auto;
}

img.slide {
    height: 9vh;
    max-width: 100% !important;
    margin: 2px;
    border: 2px solid #ffffff;
    display: block;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 60%);
    cursor: grab;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}